.slideshow.loading .wrapper {
	background: url(demo/img/loader.gif) no-repeat center center;
	padding: 50px 0;
}

.slideshow.loading .slides {
	display: none;
}

/* do not show slides during loading */
.slideshow.loading .slide {
	visibility: hidden;
}

.slideshow .wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slideshow .slides {
	position: absolute;
}

.slideshow .slide {
	position: absolute;
}

.slideshow .prev,
.slideshow .next {
	text-decoration: underline;
	cursor: pointer;
}